<p>app/views/devise/mailer/reset_password_instructions.html.erb</p>

<p>Hello <%= @resource.email %>!</p>

<p>パスワードのリセットが要求されたんだよね。下のリンクでリセットできるよ</p>

<p><%= link_to 'パスワードリセット', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見に覚えがなかったらクリックしないで無視していいですよ</p>
